@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  font-family: "Dancing Script", cursive;
}

.custom-scrollbar {
  /* Set the scrollbar width */
  scrollbar-width: thin;

  /* Set the scrollbar track color */
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

/* Style the scrollbar thumb (the draggable part) */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
}

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  @apply w-2 bg-transparent;
}

*::-webkit-scrollbar-thumb {
  @apply rounded-full bg-secondary-dark;
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
  @apply bg-transparent;
}
.scrollbar-hidden:hover::-webkit-scrollbar-thumb {
  @apply bg-secondary-border;
}
